// Primary Colors
$primary-yellow: #f0d43a;
$primary-dark-blue: #3b4a6b;
$primary-light-blue: #22b2da;
$primary-white: #fafafa;
$primary-pink: #f23557;
$primary-black: #293035;
$primary-gray: #eaeaea;

// Secondary Colors
$secondary-pink: #f05b76;
$secondary-dark-blue: #74809b;

// Font Variables
$primary-font: 'Comfortaa', sans-serif;
$main-header-font: 'Cinzel', serif;
$content-font: 'Montserrat', sans-serif;
