// Primary Colors
$primary-yellow: #f0d43a;
$primary-dark-blue: #3b4a6b;
$primary-light-blue: #22b2da;
$primary-white: #fafafa;
$primary-pink: #f23557;
$primary-black: #292e33;

// Font Variables
$primary-font: 'Comfortaa', sans-serif;
$main-header-font: 'Cinzel', serif;
$content-font: 'Montserrat', sans-serif;
