@import 'variables';
@import 'mixins';

.bioContainer {
	padding: 4rem 2rem 2rem;
	background-color: $primary-white;

	@include breakpoint-up(large) {
		padding: 9rem 2rem;
	}

	.header {
		width: 100%;
		padding: 2rem 0;
		text-align: center;

		> h3 {
			margin: 1rem 0;
			color: $primary-dark-blue;
			font-family: $content-font;
			font-size: 1.4rem;
			font-weight: 400;
		}

		> h2 {
			margin: 0.5rem 0;
			color: $primary-light-blue;
			font-family: $main-header-font;
			font-size: 1.8rem;
			font-weight: 800;
			letter-spacing: 1.1px;
		}

		> hr {
			margin: 1.8rem auto;
			border: none;
			background-color: $primary-dark-blue;
			height: 0.2rem;
			width: 10rem;
		}
	}

	.contentWrapper {
		padding: 0 2rem;

		@include breakpoint-up(medium) {
			padding: 2rem;
		}

		@include breakpoint-up(large) {
			height: 30rem;
			display: flex;
			padding-left: 4rem;
		}

		@include breakpoint-up(xlarge) {
			padding-top: 4rem;
		}

		.bioContent {
			margin: 0 auto;
			max-width: 40rem;
			text-align: center;

			@include breakpoint-up(large) {
				margin-right: 2rem;
				width: 50%;
				text-align: left;
			}

			> h3 {
				margin: 0;
				color: $primary-light-blue;
				font-size: 1.3rem;
				font-weight: 800;
			}

			> p {
				color: $primary-dark-blue;
				font-family: $content-font;
				font-size: 1.2rem;
			}
		}

		.bioSkills {
			padding-top: 2rem;
			margin: 0 auto;
			max-width: 40rem;

			@include breakpoint-up(medium) {
				padding-top: 3rem;
			}

			@include breakpoint-up(large) {
				width: 50%;
				padding-top: 0;
			}

			> h3 {
				margin: 0;
				text-align: center;
				color: $primary-light-blue;
				font-size: 1.3rem;
				font-weight: 800;

				@include breakpoint-up(large) {
					text-align: left;
					padding-left: 1rem;
				}
			}

			.skillBtns {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 1.5rem 1rem;

				@include breakpoint-up(large) {
					justify-content: flex-start;
				}

				> h4 {
					display: inline-block;
					min-width: 5.5rem;
					border-radius: 5px;
					margin: 0 0 1rem 0;
					padding: 1rem;
					text-align: center;
					background-color: $primary-gray;
					color: $primary-dark-blue;
					font-size: 1.3rem;
					font-weight: 800;
					letter-spacing: 1.1px;

					&:not(:last-child) {
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
