@import 'variables';

.primaryBtn {
	border: none;
	border-radius: 10px;
	min-width: 12.9rem;
	padding: 1.25rem 3rem;
	background-color: $primary-pink;
	color: $primary-white;
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		background-color: $secondary-pink;
	}
}

.secondaryBtn {
	border: 3px solid $primary-pink;
	border-radius: 10px;
	padding: 0.95rem 3.75rem;
	min-width: 12.9rem;
	background-color: transparent;
	color: $primary-white;
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		border: 3px solid $secondary-pink;
		background-color: rbga(250, 250, 250, 1);
	}
}
