@import 'variables';
@import 'mixins';

.footerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 3px solid $primary-light-blue;
	background-color: $primary-dark-blue;
	padding: 2rem;

	@include breakpoint-up(large) {
		flex-direction: row-reverse;
		justify-content: flex-end;
		padding: 3rem 6rem;
	}

	.social {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
		font-family: $content-font;

		@include breakpoint-up(large) {
			width: 50%;
			align-items: flex-start;
		}

		> h3 {
			margin: 0;
			color: $primary-white;
			font-size: 1.4rem;
			font-weight: 200;
		}

		> hr {
			width: 7rem;
			height: 1px;
			border: none;
			background-color: $primary-yellow;

			@include breakpoint-up(large) {
				width: 7rem;
				text-align: left;
				margin-left: 0;
			}
		}

		> a {
			margin-bottom: 0.5rem;
			display: block;
			color: $primary-white;
			font-size: 1.2rem;
			font-weight: 200;

			&:hover {
				color: $primary-light-blue;
			}
		}
	}

	.imageContainer {
		width: 4.3rem;
		height: 4.3rem;

		> div {
			position: unset !important;

			.logoImage {
				position: relative !important;
				width: 100%;
				height: unset !important;
			}
		}

		@include breakpoint-up(large) {
			transform: translateX(-50%);
		}
	}
}
