// Primary Colors
$primary-yellow: #F0D43A;
$primary-dark-blue: #3B4A6B;
$primary-light-blue: #22B2DA;
$primary-white: #fafafa;
$primary-pink: #F23557;

// Font Variables
$primary-font: 'Comfortaa', sans-serif;
$main-header-font: 'Cinzel', serif;
$content-font: 'Montserrat', sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
