@import 'variables';
@import 'mixins';

.container {
	// !Adjust height width media queries
	height: 30rem;

	@include breakpoint-up(medium) {
		height: 40rem;
	}

	@include breakpoint-up(xlarge) {
		height: 47rem;
	}

	.bgImg {
		background-image: url('/images/nv_portfolio_background.jpg');
		background-size: cover;
		padding: 2rem;
		height: 100%;

		@include breakpoint-up(large) {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}

		.contentBlock {
			margin: 0 auto;
			max-width: 47.5rem;
			padding: 2rem;
			background-color: rgba($color: #353535, $alpha: 0.5);
			border-radius: 20px;

			@include breakpoint-up(medium) {
				margin: 2rem auto;
			}

			@include breakpoint-up(large) {
				padding: 2rem 3rem 2rem 2rem;
			}

			.greeting {
				display: flex;
				align-items: center;

				> span {
					display: block;
					margin-right: 1.25rem;
					border-radius: 50px;
					height: 0.3rem;
					width: 4rem;
					background-color: $primary-light-blue;
				}

				> h3 {
					color: $primary-light-blue;
					font-size: 1.4rem;
					font-weight: 800;
					margin: 0;
					padding: 0;
				}
			}

			> h1 {
				color: $primary-white;
				font-size: 2.2rem;
				font-weight: 800;
				margin: 1rem 0;
				padding: 0;

				> span {
					color: $primary-yellow;
				}
			}

			> h2 {
				color: $primary-white;
				font-size: 1.6rem;
				font-weight: 400;
				margin: 0;
				padding: 0;
			}
		}

		.ctaContainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem 0;

			@include breakpoint-up(large) {
				width: 40%;
			}
		}
	}
}
