@import 'mixins';
@import 'variables';
@import 'animations';

.header {
	position: relative;
	z-index: 1;

	.navContainer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 3rem;
		width: 100%;
		background-color: $primary-black;

		@include breakpoint-up(large) {
			padding: 1rem 6rem;
		}

		.logoContainer {
			.logoImage {
				width: 4.3rem;
				height: auto;
			}
		}

		.mobileNav {
			.burgerIcon {
				background-color: transparent;
				border: none;
				cursor: pointer;

				> span {
					display: block;
					background-color: $primary-light-blue;
					border-radius: 10px;
					height: 2px;
					width: 24px;
					transition: all 300ms ease-in-out;
					transform-origin: 2px 1px;

					&:not(:last-child) {
						margin-bottom: 5px;
					}
				}
			}

			.burgerOpen {
				> span:first-child {
					transform: rotate(45deg);
				}

				> span:nth-child(2) {
					opacity: 0;
				}

				> span:last-child {
					transform: rotate(-45deg);
				}
			}

			@include breakpoint-up(large) {
				display: none;
			}
		}

		.navLinks {
			a {
				color: $primary-light-blue;
				font-size: 1.4rem;

				&:not(:last-child) {
					margin-right: 4rem;
				}

				&:hover {
					color: $primary-gray;
					border-bottom: 1px solid $primary-gray;
				}
			}

			@include breakpoint-down(medium) {
				display: none;
			}
		}
	}

	.overlay {
		opacity: 0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient($primary-black 40%, transparent);
	}

	.mobMenuContainer {
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		min-height: 15rem;
		width: calc(100% - 3rem);
		margin-top: 1.5rem;
		padding: 2rem 0;
		border-radius: 5px;

		> a {
			display: block;
			text-align: center;
			font-size: 1.8rem;
			color: $primary-light-blue;
			padding: 1rem 0;
		}
	}

	.fadeIn {
		animation: fade-in 200ms ease-in-out forwards;
	}

	.fadeOut {
		animation: fade-out 200ms ease-in-out forwards;
	}
}
